<p id="notice"><%= notice %></p>


<p>
  <b>Character ID:</b>
  <%= @profile.character_id %>
</p>
<p>
  <b>Technical level:</b>
  <%= @profile.technical_level %>
</p>

<p>
  <b>Pilot level:</b>
  <%= @profile.pilot_level %>
</p>

<p>
  <b>Logistics level:</b>
  <%= @profile.logistics_level %>
</p>

<p>
  <b>Tactical level:</b>
  <%= @profile.tactical_level %>
</p>

<p>
  <b>Interpersonal level:</b>
  <%= @profile.interpersonal_level %>
</p>

<p>
  <b>Wit level:</b>
  <%= @profile.wit_level %>
</p>

<p>
  <b>Reflex level:</b>
  <%= @profile.reflex_level %>
</p>

<p>
  <b>Endurance level:</b>
  <%= @profile.endurance_level %>
</p>

<p>
  <b>Perception level:</b>
  <%= @profile.perception_level %>
</p>

<p>
  <b>Leadership level:</b>
  <%= @profile.leadership_level %>
</p>

<p>
  <b>Honesty level:</b>
  <%= @profile.honesty_level %>
</p>

<p>
  <b>Compassion level:</b>
  <%= @profile.compassion_level %>
</p>

<p>
  <b>Courage level:</b>
  <%= @profile.courage_level %>
</p>

<p>
  <b>Honor level:</b>
  <%= @profile.honor_level %>
</p>

<p>
  <b>Dependability level:</b>
  <%= @profile.dependability_level %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
