<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @shop.location_id %>
</p>

<p>
  <b>Name:</b>
  <%= @shop.name %>
</p>


<h3>Shop Items:</h3>
  <% @shop.shop_inventory_items.each do |item| %>
    <b><%= item.good.name %></b>  | In Stock: <%= item.quantity %> | Purchase Price: <%= item.sell_price %>  | Trade In Price: <%= item.buy_price %>    <br />
    <%= form_tag(:controller => "transactions", :action => "create", :good_id => item.good.id) do %>
      <%= label_tag(:quantity, "Quantity:") %>
      <%= number_field_tag(:quantity) %>
      <%= hidden_field_tag(:buyer_type, value: "character") %>
      <%= hidden_field_tag(:seller_type, value: "shop") %>
      <%= hidden_field_tag(:buyer_id, value: Character.first.id) %>
      <%= hidden_field_tag(:seller_id, value: @shop.id) %>
      <%= submit_tag("Purchase From Store")%>
    <% end %>
    <%= form_tag(:controller => "shops", :action => "buy_from_character", :item_id => item.id) do %>
      <%= label_tag(:quantity, "Quantity:") %>
      <%= number_field_tag(:quantity) %>
      <%= submit_tag("Sell To Store")%>
    <% end %>
    <br /><br />  
  <% end %>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>

