<h1>Listing properties</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Property type</th>
    <th>Resource count</th>
    <th>Output rate</th>
    <th>Renewable</th>
    <th>Location</th>
    <th>Character</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @properties.each do |property| %>
  <tr>
    <td><%= property.name %></td>
    <td><%= property.property_type %></td>
    <td><%= property.resource_count %></td>
    <td><%= property.output_rate %></td>
    <td><%= property.renewable %></td>
    <td><%= property.location_id %></td>
    <td><%= property.character_id %></td>
    <td><%= property.price %></td>
    <td><%= link_to 'Show', property %></td>
    <td><%= link_to 'Edit', edit_property_path(property) %></td>
    <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Property', new_property_path %>
