<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @property.name %>
</p>

<p>
  <b>Property type:</b>
  <%= @property.property_type %>
</p>

<p>
  <b>Resource count:</b>
  <%= @property.resource_count %>
</p>

<p>
  <b>Output rate:</b>
  <%= @property.output_rate %>
</p>

<p>
  <b>Renewable:</b>
  <%= @property.renewable %>
</p>

<p>
  <b>Location:</b>
  <%= @property.location_id %>
</p>

<p>
  <b>Character:</b>
  <%= @property.character_id %>
</p>

<p>
  <b>Price:</b>
  <%= @property.price %>
</p>

<h2>Materials Available For Exploiting:</h2>
<table>
  <hr>
    <td>
      Material
    </td>
    <td>
      Output Rate
    </td>
    <td>
      Quantity
    </td>
  </hr>
  <% @materials.each do |material| %>
    <tr>
      <td>
        <%= material.good_id %>
      </td>
      <td>
        <%= material.output_rate %>
      </td>
      <td>
        <% if material.renewable? %>
          Renewable
        <% else %>
          <%= material.quantity %>
        <% end %>
      </td>
      
    </tr>
        
    
  <% end %>
  
</table>

  
  


<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
