<%= form_for @character, :html => {:multipart => true} do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :species %><br />
    <%= f.text_field :species %>
  </div>
  <%= fields_for @profile do |f|%>

	  <% Profile::PLAYER_ATTRIBUTES.each do |attribute| %>
      <div class="field">
        <%= f.label attribute %>
        <%= f.number_field attribute %>
      </div>
    <% end %>	  
   
   <% end %>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

