<%= form_for(@character) do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :species %><br />
    <%= f.text_field :species %>
  </div>
  <%= fields_for @profile do |f|%>

	  <div class="field">
	    <%= f.label :technical_level %><br />
	    <%= f.number_field :technical_level %>
	  </div>
	  <div class="field">
	    <%= f.label :pilot_level %><br />
	    <%= f.number_field :pilot_level %>
	  </div>
	  <div class="field">
	    <%= f.label :logistics_level %><br />
	    <%= f.number_field :logistics_level %>
	  </div>
	  <div class="field">
	    <%= f.label :tactical_level %><br />
	    <%= f.number_field :tactical_level %>
	  </div>
	  <div class="field">
	    <%= f.label :interpersonal_level %><br />
	    <%= f.number_field :interpersonal_level %>
	  </div>
	  <div class="field">
	    <%= f.label :wit_level %><br />
	    <%= f.number_field :wit_level %>
	  </div>
	  <div class="field">
	    <%= f.label :reflex_level %><br />
	    <%= f.number_field :reflex_level %>
	  </div>
	  <div class="field">
	    <%= f.label :endurance_level %><br />
	    <%= f.number_field :endurance_level %>
	  </div>
	  <div class="field">
	    <%= f.label :perception_level %><br />
	    <%= f.number_field :perception_level %>
	  </div>
	  <div class="field">
	    <%= f.label :leadership_level %><br />
	    <%= f.number_field :leadership_level %>
	  </div>
	  <div class="field">
	    <%= f.label :honesty_level %><br />
	    <%= f.number_field :honesty_level %>
	  </div>
	  <div class="field">
	    <%= f.label :compassion_level %><br />
	    <%= f.number_field :compassion_level %>
	  </div>
	  <div class="field">
	    <%= f.label :courage_level %><br />
	    <%= f.number_field :courage_level %>
	  </div>
	  <div class="field">
	    <%= f.label :honor_level %><br />
	    <%= f.number_field :honor_level %>
	  </div>
	  <div class="field">
	    <%= f.label :dependability_level %><br />
	    <%= f.number_field :dependability_level %>
	  </div>
   
   <% end %>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
