


<h1>Dashboard</h1>
<p id="notice"><%= notice %></p>

<p><%= @character.name %>, id: <%= @character.id %> </p>



<p>Your Location: <%= @character.location.name %> </p>



<% if @character.ship %>
<p>Your ship: <%= @character.ship.name %>
<br>Your Fuel: <%= @character.ship.fuel %>
<br>Turns Left: <%= @character.turns_remaining %>
</p>
<p>Where would you like to travel to?</p>
	<table>
	  <tr>
	    <th>Destination</th>
	    <th>Distance</th>
	    <th>Fuel Required</th>
	    <th>Enough Fuel?</th>
	    <th>Turns Required</th>
	    <th>Enough Turns?</th>
	    <th>Travel</th>
	  </tr>  
		<% @locations.each do |destination| %>
  		<% distance = @character.location.distance_to(destination) %>
  		<% fuel_needed = @character.ship.calc_fuel_usage(distance) %>
  		<% turns_required = @character.calc_turns_required(distance) %>
  		<tr>
  			<td><%= destination.name %></td>
  			<td><%= distance %></td>
  			<td><%= fuel_needed %></td>
  			<td><%= @character.ship.enough_fuel?(fuel_needed) %></td>
  			<td><%= turns_required %></td>
  			<td><%= @character.enough_turns?(turns_required) %></td>
  			<td><%= button_to "Travel", :action => "travel", :id => @character.id, :dest_id => destination.id, :distance => distance %></td>
  		</td>
		<% end %>	  

	<% if false %> <!-- old form saved in case we want to revert -->
		<%= form_for(@character) do |f| %>
		  <% if @character.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

		      <ul>
		      <% @character.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

		  <div class="field">
		    <%= collection_select(:character, :location_id, Location.all, :id, :name)%>
		  </div>
  
		    <div class="actions">
		      <%= f.submit ">>>>>>  Travel  >>>>>>>" %>
		    </div>
		  <% end %>
	<% end %>	
<% else %>
  <p>You don't have a ship yet! Buy one at the <%= link_to "Ship Store", ship_store_path %>.

<% end %>
  