<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @character.name %>
</p>

<p>
  <b>Gender:</b>
  <%= @character.gender %>
</p>

<p>
  <b>Species:</b>
  <%= @character.species %>
</p>

Images: <%= @character.images.count %>
<br />


<%= render "images/images" %>




<p><%= link_to "New Image", [:new, @character, :image] %></p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
