<h1>Amazing Ship Store!</h1>
<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Name</th>
    <th>Ship type</th>
    <th>Price</th>
    <th>Size</th>
    <th></th>
  </tr>

<% @ships.each do |ship| %>
  <tr>
    <td><%= ship.name %></td>
    <td><%= ship.ship_type %></td>
    <td><%= ship.price %></td>
    <td><%= ship.ship_size %></td>
    <td><%= button_to 'buy', :action => "buy", :id => ship.id %></td>

  </tr>
<% end %>
</table>