<p id="notice"><%= notice %></p>

<p>
  <b>Character:</b>
  <%= @ship.character_id %>
</p>

<p>
  <b>Name:</b>
  <%= @ship.name %>
</p>

<%= link_to 'Edit', edit_ship_path(@ship) %> |
<%= link_to 'Back', ships_path %>
