<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @location.name %>
</p>



<h3>Properties Available:</h3>
<table>
  <tr>
    <td>Name</td>
    <td>Price</td>
    <td>Status</td>
    <td>Action</td>
  </tr>  
  <% @location.properties.each do |property| %>
    <tr>
      <td><%= property.name %></td>
      <td><%= property.price %></td>
      <td><%= property.status %></td>
      <td><%= (button_to "Claim", :controller => "properties", :action => "assign", :id => property.id) unless property.claimed? %></td>
    </tr>
  <% end %>
</table>