<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @location.name %>
</p>



<h3>Properties Available:</h3>
<ol>
<% @location.properties.each do |property| %>
<li><%= property.name %> | Resource Type: <%= property.property_type%> | Resources Available: <%= property.resource_count %> | Price: <%= property.price %></li>
<% end %>
</ol>